* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    background-image: url(./img/);
    height: 30vh;
}

header section {
    display: flex;
    width: 100vw;
}